/* style.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

select {
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 20px;

}

.button-container {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #45a049;
}

#response {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  color: #333;
  border-radius: 4px;
  height: 150px;
  overflow-y: auto;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  /* Disables resizing for textarea */
}

input[type="text"]:focus,
textarea:focus {
  border-color: #4CAF50;
}

.container {
  max-width: 800px;
  margin: auto;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

code {
  font-family: monospace;
}